<div>
	<div class="six columns">
		<p5 sketch="drawFactory"></p5>
  	</div>
	<div class="six columns">
		<div class="controlpanel">
			<div class="control">
				<label>Radius:</label>

                <div ui-slider id="radius" min="0" max="255" ng-model="controls.radius"></div>
                <input type="text" class="textcontrol" ng-model="controls.radius" />


			</div>
			<div class="control">
				<label for="">Step:</label>
				<!-- <div id="step"></div> -->

				
                <div ui-slider id="step" min="0.01" max="3" ng-model="controls.step"></div>
                <input type="text" class="textcontrol" ng-model="controls.step" />


			</div>
			<div class="control">
				<label for="">Speed:</label>
				<!-- <div id="speed"></div> -->
				<div ui-slider id="speed" min="0" max="20" ng-model="controls.speed"></div>
                <input type="text" class="textcontrol" ng-model="controls.speed" />

			</div>
<!-- 			<div class="control">
				<label for="">X:</label>
				<div ui-slider id="xslide" min="0" max="500" ng-model="controls.xslide"></div>
                <input type="text" class="textcontrol" ng-model="controls.xslide" />
			</div>
			<div class="control">
				<label for="">Y:</label>
				<div ui-slider id="yslide" min="0" max="500" ng-model="controls.yslide"></div>
                <input type="text" class="textcontrol" ng-model="controls.yslide" />
			</div> -->
			<div class="control">
			<label for="">Toggle Draw:
				<input type="checkbox" id="toggleDraw" checked></label>
			<label for="">Show Circle:
				<input type="checkbox" id="circleVisible" checked></label>
			<!-- <label for="">Sound Reactive:
				<input type="checkbox" id="soundReactive"></label> -->
			<label for="">Radius Visible:
				<input type="checkbox" id="radiusVisible"></label>
			</div>

			<div class="control">Line Color: <input class="jscolor" id="linecolor" value="646464"></div>
			<div class="control">Background Color: <input class="jscolor" id="bgcolor" value="FAFAFA"></div>

			<div class="control">
				<button id="capture" ng-show="$storage.user.name!=null">Capture</button>
				<button id="reset" ng-click="reset()">Reset</button>
			</div>
		</div>
	</div>

</div>
	<script>

				$( "#step").slider({ step: 0.01 });
				$( "#speed").slider({
				  orientation: "horizontal",
				  range: "min",
				  max: 30,
				  value: 3
				  // slide: example.refreshSwatch,
				  // change: example.refreshSwatch
				});

	</script>
	<script src="scripts/jscolor.js"></script>