
#targetCanvas{
    display:inline-block;
}
.controlpanel{
    width: 500px;
    vertical-align: top;
    display:inline-block; 
    text-align: center;
}
  .textcontrol{
    width:3.5em;
  }
  .stronglabel {
  font-weight: bold;
  font-size: 1.1em;
}

#radius, #step, #speed, #xslide, #yslide{
  /*float: left;*/
  /*clear: left;*/
  display:inline-block;
  vertical-align: middle;
  width: 150px;
  margin: 15px;
}

.card {

}
  .card > img{
    width:200px;
    height:200px;
  }

.horiz-nav{
    list-style: none;
}
  .horiz-nav > li{
    display: inline-block;
  }
  .horiz-nav a {
    color:#777777;
    text-decoration: none;

  }